.button {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #7C76BB;
  width: 100%;
  color: white;
  padding: 10px 80px;
  border: none;
  cursor: pointer;

  font-family: Nunito, 'Helvetica Neue', Arial, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
}

.button:active {
  transform: translateY(2px);
}

.button_disabled {
  opacity: .5;
}

.button_disabled:active {
  transform: none;
}

@media screen and (max-width: 620px) {
  .button {
    font-size: 20px;
  }
}