.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  margin: 70px auto 0;
  padding: 10px;
}

.game__info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.game__counter {
  font-family: Nunito, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;

  min-width: 70px;
}

.game__button {
  background-image: url('../../images/restart.png');
  background-color: transparent;
  background-position: center;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
  border: none;
  cursor: pointer;
}

.game__button:active {
  transform: translateY(2px);
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.5);
}

.game__button:focus {
  outline: none;
}

.game__timer {
  font-family: Nunito, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  text-align: right;

  min-width: 70px;
}

.game__board{
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(8, 24px);
  gap: 2px;
  border: 1px solid black;
}

@media screen and (max-width: 620px) {
  .game__board{
    gap: 1px;
  }
}