.settings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.settings__title {
  color: #1072F6;
  margin: 0;
  margin-top: 70px;
  margin-bottom: 30px;

  font-family: Nunito, 'Helvetica Neue', Arial, sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  line-height: 120%;
}

.settings__name-label {
  font-family: Nunito, 'Helvetica Neue', Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

.settings__name-input {
  font-family: Nunito, 'Helvetica Neue', Arial, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
}

.settings__options {
  margin: 30px 0 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: 350px;
}

@media screen and (max-width: 620px) {
  .settings__title {
    margin-top: 40px;
    margin-bottom: 20px;

    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: 120%;
  }

  .settings__name-input {
    font-size: 20px;
    max-width: 300px;
  }

  .settings__options {
    min-width: 300px;
  }
}